@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --darkBlue: hsl(209, 23%, 22%);
    --Blue: #1270e3;
    --buttonBg: #3498db;
    --buttonColor: hsl(0, 0%, 98%);
}

.dark {
    --backgroundcolor: hsl(207, 26%, 17%);
    --elementBackground: hsl(209, 23%, 22%);
    --darkModeWhiteColorText: hsl(0, 0%, 100%);
    --darkModeDullWhiteColotText: hsl(0, 0%, 90%);
}

html {
    scroll-behavior: smooth;
}
body {
    background-color: hsl(0, 0%, 90%);
    scroll-behavior: smooth;
    font-family: 'Outfit', 'caviar-dreams';
    background-color: var(--backgroundcolor);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'outfit';
}

header {
    border-bottom: 1px solid var(--darkBlue);
    background-color: var(--elementBackground);
}



.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 90%;
    margin: 0 auto;
}

.logo h4 {
    font-size: 25px;
    color: var(--darkBlue);
    color: var(--darkModeWhiteColorText);
}



.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;         
    transition: 0.5s;
    background: var(--darkBlue);
   
}

.toggle.dark{
  background: var(--darkModeDullWhiteColotText);
}

.toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--buttonColor);
    transition: 0.5s;
    transform: scale(0.8);
}

.toggle.dark .indicator {
    left: 20px;
    background: var(--darkBlue);   
}



.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    padding: 10px 5px;
    color: var(--darkBlue);
    color: var(--darkModeWhiteColorText);
    transition: 0.3s;
}

.nav-link:hover {
    border-bottom: 6px solid var(--Blue);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
}

.hero-header-content h1 {
    font-size: 60px;
    font-weight: 900;
    color: var(--darkBlue);
    color: var(--darkModeWhiteColorText);
    text-transform: uppercase;
    padding-bottom: 20px;
}

.hero-header-container h2 {
    font-weight: 400;
    color: var(--Blue);
    padding-bottom: 15px;
    
}


.hero-header-container p {
    font-size: 18px;
    font-weight: 300;
    color: var(--darkModeDullWhiteColotText);
}

/* @keyframes slideinright{
  from{
    padding-right: 20px;
  }

  to{
    padding-right: 0;
  }
} */

.work {
    margin-top: 45px;
}

.btn {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--buttonBg);
    border: none;
    color: var(--buttonColor);
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

/* Skills */

.header h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 8px;
    color: var(--darkModeDullWhiteColotText);
}

.header h6 {
    font-size: 18px;
    font-weight: 500;
    color: var(--Blue);
    color: var(--darkModeDullWhiteColotText);
}

.skill-wrapper {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(310px, 487px)
    );
    gap: 50px;
    padding: 30px 0;
    margin-bottom: 40px;
    justify-content: center;
}

.skill-card {
    border: 1px solid #1b1f2326;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: var(--elementBackground);
}

.skill-card h4 {
    font-size: 24px;
    color: var(--darkModeDullWhiteColotText);
}

.skill-card h6 {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    color: var(--Blue);
}

.skill-card p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    color: #6b7280;
    color: var(--darkModeDullWhiteColotText);
}

.more {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.more span {
    border: 1px dotted #343a40;
    color: var(--darkModeWhiteColorText);
    border-radius: 20px;
    padding: 5px 10px;
    font-family: 'Caviar Dreams';
    font-size: 14px;
}

.view-more {
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.view-more a {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    transition-duration: 0.4s;
}

.view-more a:hover {
    background-color: #e7e7e7;
}

/* .live:hover{

  background-color: #e7e7e7; 
} */

.project-wrapper {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(310px, 487px)
    );
    justify-content: center;
    gap: 50px;
    padding: 30px 0;
    margin-bottom: 40px;
}

.project-card .img {
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 5px;
}

/* .project-card:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} */

.project-card .img img {
    object-fit: cover;
    height: 100%;
    object-position: top;
}

.project-card {
    padding: 30px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: var(--elementBackground);
}

.project-card h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--darkModeWhiteColorText);
}

.project-card h6 {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    color: var(--Blue);
}

.project-card p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    color: #6b7280;
}

.cert-card {
    /* border: 1px solid var(--Blue); */
    background: var(--elementBackground);
    padding: 35px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.view-cert {
    text-align: right;
}

.view-cert a {
    letter-spacing: 2px;
    text-decoration: none;
    color: #212529;
    color: var(--darkModeWhiteColorText);
    padding: 5px;
    border-radius: 4px;
    transition: 0.3s;
}

.view-cert a:hover {
    color: var(--buttonColor);
    background-color: var(--Blue);
}

.cert-card h6 {
    font-size: 25px;
    color: var(--darkModeWhiteColorText);
}

.cert-card p {
    padding-bottom: 14px;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
    color: var(--darkModeDullWhiteColotText);
}

.subhead {
    color: var(--Blue);
    font-family: 'Outfit' !important;
    font-weight: 600;
}

.cert-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
}

.cert-card-header span {
    color: #6b7280;
    color: var(--darkModeDullWhiteColotText);
    font-family: 'outfit';
    font-weight: 600;
    letter-spacing: 2px;
}

.contact {
    background-color: rgba(52, 152, 219, 0.08);
    padding-bottom: 48px;
}

.contact-header {
    text-align: center;
    padding: 48px 0;
}

.contact-container h3 {
    background-color: #3498db;
    box-shadow: 6px 6px 0 0 rgb(41 128 185 / 35%);
    color: #ffffff;
    padding: 8px 15px;
    font-size: 16px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 400;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-contact-wrapper {
    width: 50%;
}

.box-header {
    display: flex;
    gap: 6px;
    margin-bottom: 8px;
    color: #3498db;
}

.box-header h5 {
    font-size: 15px;
}
.call span,
.email span,
.address span {
    color: #4a5568;
    color: var(--darkModeDullWhiteColotText);
}
.call,
.address,
.email {
    margin-bottom: 24px;
}

.social a {
    color: #a0aec0;
    font-size: 18px;
    margin-right: 10px;
}

.social a:hover {
    color: #4a5568;
}

.right-contact-wrapper {
    width: 50%;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.13);
}

form button {
    background-color: #3498db;
    border: 2px solid #3498db;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

input:focus,
textarea:focus {
    border: 2px solid #3498db !important;
    outline: none;
    border-radius: 4px;
}


.footer-container {
    text-align: center;
    padding: 24px 0;
}

.footer-container p {
    color: #718096;
}

.hamburger {
    display: none;
}

@media (max-width: 800px) {
    .container {
        width: 90%;
    }

    .hero-header-content h1 {
        font-size: 40px;
    }

    .skill-wrapper,
    .project-wrapper {
        grid-template-columns: repeat(
            auto-fit,
            minmax(310px, 1fr)
        );
        gap: 30px;
    }

    .skill-card h4,
    .project-card h4 {
        font-size: 20px;
    }

    .skill-card,
    .project-card {
        padding: 20px;
    }

    .skill-card h6,
    .project-card h6 {
        font-size: 16px;
    }

    .skill-card p {
        font-size: 16px;
    }

    .view-more a {
        font-size: 16px;
    }
}

@media (max-width: 426px) {
    header {
        position: fixed;
        left: 0;
        width: 100%;
    }
    .hamburger {
        display: block;
        padding-right: 20px;
    }

    .hamburger i {
        color: hsl(0, 0%, 100%);   
        font-size: 25px;
    }
    .header-container {
        width: 100%;
        padding-left: 20px;
    }
    .nav-list {
        position: absolute;
        background-color: hsl(0, 0%, 90%);
        background: var(--elementBackground);
        justify-content: space-between;
        left: 0;
        top: 50px;
        padding: 10px 20px;
        border-top: 1px solid;
        width: 100%;
        transform: translateX(-100%);
        transition: 0.5s;
    }

    .nav-open {
        transform: translateX(0);
    }

    .nav-link {
        padding-left: 0;
        padding-right: 0;
        font-size: 14px;
    }

    .hero {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .hero-header-content h1 {
        font-size: 25px;
    }

    .hero-header-content h2 {
        font-size: 18px;
    }

    .contact-wrapper {
        flex-direction: column;
    }

    .hero-header-container {
        text-align: center;
        width: 100%;
    }
    .work {
        width: 100%;
    }
    .work a {
        font-size: 16px;
    }

    .left-contact-wrapper,
    .right-contact-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }

    .container {
        padding: 0px 30px;
        width: 100%;
    }

    .container h2 {
        font-size: 25px;
    }

    .container h4 {
        font-size: 18px;
    }

    .container h6 {
        font-size: 18px;
    }

    .project-card .view-more a {
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 14px;
    }

    .cert-wrapper span {
        font-size: 14px;
    }

    .cert-card {
        padding: 20px 10px;
    }

    .cert-card p {
        color: #6b7280;
    }

    .subhead {
        color: #1270e3 !important;
    }

    .social {
        justify-content: center;
    }
}
